footer {
  color: rgb(155, 155, 155);
  position: absolute;
  width: 100vw;
  height: 30px;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: rgb(155, 155, 155);
  font-size: 15px;
  transition: transform 0.2s ease-in-out;
  margin-left: 10px;
  margin-bottom:2px;
}

a:hover {
  color: rgb(155, 155, 155);
  transform: scale(1.2);
}