@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
#brand {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: 400;
}

#cart{
  display:flex;
  justify-content: center;
  align-items: center;
  height:30px;
  width:30px;
  font-size: 34px;
  font-weight: 100;
  color:white;
  background-color: transparent;
  border-width: 0;
}
#cart-img {
  position:absolute;
}
#num-items{
  position:absolute;
  color:var(--bs-dark);
  font-weight: 900;
  font-size: 0.42em;
  padding-left:5px;
  padding-bottom: 8px;
}
