#shop-background {
  background-color: rgb(243, 243, 243);
}

#card {
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
}
.img-container{
  height: 13rem;
}

.img-container img{
  object-fit: contain;

}

.card-img-top {
  max-height: 100%;
}
.card-body {
  height:9em;
}

.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 18px;
  color:rgb(43, 43, 43)
}

#add-to-cart-button {
  border-radius: 0;
  height:44px;
  transition: background-color 0.15s ease-in-out 0s;
}

#add-to-cart-button:hover {
  border-radius: 0;
  font-size: 1.1rem;
  background-color: rgb(50, 50, 50);
  transition: all 0.15s ease-in-out 0s;
}

#add-to-cart-button {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-border-width: 1px;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    background-color: var(--bs-dark);
    color: white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}